{% extends 'fmecango/base.html' %}
{% load static %}
{% block title_block %}Home{% endblock %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-1 col-md-4 well">
      <h1>Tables</h1>
      {% if tables %}
      {% for table in tables %}
      <li><h3><a href="{% url 'table' table.slug %}">{{table.name}}</a></h3></li>
      {% endfor %}
      {% else %}
      <h3>No FMECA Tables Have Been Created</h3>
      {% endif%}
    </div>
  
  
      
    <div class="col-sm-offset-1 col-md-5 well">
      <h1>Add a new Table</h1>
        
      <form role="form" action="{% url 'index' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% for hidden in form.hidden %}
        {{ hidden }}
        {% endfor %}
        
        {% csrf_token %}
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Name of Block Diagram:</label>
          <div class="col-sm-10">
            {{ form.name }}{{ form.name.errors }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Image of Diagram (Optional):</label>
          <div class="col-sm-10">
            {{ form.diagram }}{{ form.diagram.errors }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-offset-1 col-md-10 well">
      <h3>About</h3>
      <h5>This is a tool that can be sued to create FMECA tables from a block diagram.  You are able to add Components to a table for each diagram, and identify Failure Modes for each component.  A Risk Priority number is then calculated for each Failure Mode to clearly identify the major risks in a given system.</h5>
      <p>Made with <a href="https://www.djangoproject.com/">Django</a>, styled with <a href="http://www.getbootstrap.com">bootstrap</a>, and tables from <a href="https://datatables.net/">DataTables</a>.</p>
      <p><a href="http://github.com/hoodscott/">Scott Hood - 2k16</a></p>
    </div>
  </div>
</div>
{% endblock %}